body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.toggle {
  opacity: 0;
}

.toggle + label {
  position: relative;
  padding-left: 5rem;
}

.toggle + label::before {
  content: "";
  background: #c6d0cc;
  width: 4.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s linear;
}

.toggle + label::after {
  content: "";
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  transition: all 0.2s linear;
}

.toggle:checked + label::before {
  background: #20b776;
}
.toggle:checked + label::after {
  transform: translateX(100%);
}
